body {
  background: #2C2B3D;
  color: white;
}

.page {
  margin: 0 auto;
  width: 1080px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 0;
}

figure {
  margin: 0;
}

ul {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
  margin: 0;
}

main {
  margin: 100px 0 120px;
  display: flex;
  justify-content: space-between;
}

.conteudo {
  text-align: center;
  width: 600px;
}

footer {
  margin: 0 auto;
  text-align: center;
}

#cadeado {
  position: fixed;
  left: 20px;
  bottom: 20px;
}